body{
  background-color: #333;
}
.page-container { max-width: 1400px; margin: auto;}
.page-title { text-align: center; margin: 30px 0; font-size: 2rem; }

/* Esta linea me ayuda a cambiar cuantos se muestran por fila*/
.session-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; height: 95vh; }

/* Tablet */
@media (max-width: 992px) { .session-grid { grid-template-columns: repeat(2, 1fr); } }
/* Celular */
@media (max-width: 576px) { .session-grid { grid-template-columns: 1fr; } }

.session-card {
  background: #333; border-radius: 16px; overflow: hidden;  border: 2px solid #006f94;
  box-shadow: 0 4px 20px rgba(0,0,0,.08); transition: .3s; vertical-align:middle; 
  display: flex; justify-content: center; align-items: center;
}

.session-title { text-align: center; margin: 40px 0; min-height: 50px; font-size: 2rem; color: white; }

.session-card p { color: white; font-size: 1.2rem; font-weight: bold; margin-left: 20px; }

.session-card input { width: 100%; padding: 10px; margin: 10px 0; border-radius: 8px; border: 1px solid #ddd; font-size: 1rem; }

.session-card button { width: 100%; background: #333; color: white; border: none; font-weight: bold;
  padding: 12px; font-size: 1rem; cursor: pointer; transition: .3s; margin-top: 10px; border-radius: 8px;}

.session-card button:hover { background: #013c50; transform: translateY(-8px); box-shadow: 0 10px 25px rgba(0,0,0,.15); }

.session-card:hover { background: #006f94; transform: translateY(-8px); box-shadow: 0 10px 25px rgba(0,0,0,.15); }
